/* Navbar */
.pages {
	font-size: 25px;
	margin-top: 6px;
}

.page {
	margin-right: 20px;
	color: E6E6E6;
}

/* Jumbotron */
.jumbotron {
	margin-bottom: 0px;
}

.innertron {
  margin-top: 30px;
}

.picture {
	height: 300px;	
}

/* Languages */

#languages {
	padding: 20px;
}

.logo {
	height: 60px;
	margin-top: 20px;
	display: inline-block;
	position: absolute;
}

.language {
	display: inline-block;
	height: 60px;
	margin-left: 120px;
}

/* Resume */
#resume {
	padding: 20px;
	background-color: eeeeee;
}

#resumeJPG {
	width: 70%;
	display: block;
	margin: auto;
}